<h1>The Pizza Service</h1>
<h2>Greatest non existent pizzas ever!</h2>

<div class="companySlur">This is our story... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et congue leo. Donec non congue arcu, quis rutrum ipsum. Sed ipsum tellus, pretium et orci ut, ultricies venenatis metus. Sed faucibus orci eget viverra feugiat. Vestibulum eu enim vel odio rutrum ultrices. Aliquam suscipit magna sit amet leo elementum maximus at at urna. Etiam facilisis ornare augue, non pulvinar nisl aliquam sed.</div>
<div class="ctaWrapper">
  <a class="cta green" href="account/create">Signup</a>
  <a class="cta green" href="session/create">Login</a>
</div>
